In [1]:
import sqlite3
import pandas as pd

In [5]:
def to_csv():
    db = sqlite3.connect('./database.sqlite')
    cursor = db.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * from %s" % table_name, db)
        table.to_csv(table_name + '.csv', index_label='index')
    cursor.close()
    db.close()

In [4]:
match = pd.read_csv('./Data/Match.csv', index_col=False)
country = pd.read_csv('./Data/Country.csv', index_col=False)
team = pd.read_csv('./Data/Team.csv', index_col=False)
player = pd.read_csv('./Data/Player.csv', index_col=False)
p_att = pd.read_csv('./Data/Player_Attributes.csv', index_col=False)
league = pd.read_csv('./Data/League.csv', index_col=False)
t_att = pd.read_csv('./Data/Team_Attributes.csv', index_col=False)

In [6]:
to_csv()

In [3]:
league

    index     id  country_id                      name
0       0      1           1    Belgium Jupiler League
1       1   1729        1729    England Premier League
2       2   4769        4769            France Ligue 1
3       3   7809        7809     Germany 1. Bundesliga
4       4  10257       10257             Italy Serie A
5       5  13274       13274    Netherlands Eredivisie
6       6  15722       15722        Poland Ekstraklasa
7       7  17642       17642  Portugal Liga ZON Sagres
8       8  19694       19694   Scotland Premier League
9       9  21518       21518           Spain LIGA BBVA
10     10  24558       24558  Switzerland Super League

In [7]:
print(match.shape)
print(match['date'].min(), match['date'].max())

(25979, 116)
2008-07-18 00:00:00 2016-05-25 00:00:00