In [2]:
import pandas as pd

In [3]:
match = pd.read_csv('Match.csv', index_col=False)
country = pd.read_csv('Country.csv', index_col=False)
team = pd.read_csv('Team.csv', index_col=False)
player = pd.read_csv('Player.csv', index_col=False)
p_att = pd.read_csv('Player_Attributes.csv', index_col=False)
league = pd.read_csv('League.csv', index_col=False)
t_att = pd.read_csv('Team_Attributes.csv', index_col=False)

In [18]:
m = match[match['season'].isin(['2012/2013', '2013/2014','2014/2015','2015/2016'])]

In [56]:
columns_keep = ['index',
'id',
'country_id',
'league_id',
'season',
'stage',
'date',
'match_api_id',
'home_team_api_id',
'away_team_api_id',
'home_team_goal',
'away_team_goal',
'home_player_1',
'home_player_2',
'home_player_3',
'home_player_4',
'home_player_5',
'home_player_6',
'home_player_7',
'home_player_8',
'home_player_9',
'home_player_10',
'home_player_11',
'away_player_1',
'away_player_2',
'away_player_3',
'away_player_4',
'away_player_5',
'away_player_6',
'away_player_7',
'away_player_8',
'away_player_9',
'away_player_10',
'away_player_11']

In [57]:
df = match[columns_keep]
df = df[ (df['league_id'] == 1729) & (df['season'] =='2015/2016')]

In [66]:
team[team['team_short_name'] =='MUN']

,index,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
25,25,3457,10260,11.0,Manchester United,MUN

In [67]:
t_att[t_att['team_api_id'] ==10260]

,index,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
806,806,807,11,10260,2010-02-22 00:00:00,70,Fast,NaN,Little,45,...,65,Normal,Free Form,40,Medium,50,Press,40,Normal,Cover
807,807,808,11,10260,2011-02-22 00:00:00,65,Balanced,NaN,Little,40,...,70,Lots,Free Form,45,Medium,45,Press,65,Normal,Cover
808,808,809,11,10260,2012-02-22 00:00:00,46,Balanced,NaN,Little,54,...,55,Normal,Organised,40,Medium,50,Press,56,Normal,Cover
809,809,810,11,10260,2013-09-20 00:00:00,46,Balanced,NaN,Little,38,...,37,Normal,Organised,49,Medium,49,Press,56,Normal,Cover
810,810,811,11,10260,2014-09-19 00:00:00,46,Balanced,34.0,Normal,54,...,56,Normal,Organised,42,Medium,41,Press,56,Normal,Cover
811,811,812,11,10260,2015-09-10 00:00:00,38,Balanced,42.0,Normal,44,...,40,Normal,Organised,54,Medium,53,Press,56,Normal,Cover

In [79]:
p_att.columns

Index(['index', 'id', 'player_fifa_api_id', 'player_api_id', 'date',
       'overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [61]:
df['stage'].value_counts()

38    10
10    10
17    10
16    10
15    10
14    10
13    10
12    10
11    10
9     10
37    10
8     10
7     10
6     10
5     10
4     10
3     10
2     10
18    10
19    10
20    10
21    10
36    10
35    10
34    10
33    10
32    10
31    10
30    10
29    10
28    10
27    10
26    10
25    10
24    10
23    10
22    10
1     10
Name: stage, dtype: int64