In [1]:
import pandas as pd
import numpy as np

In [28]:
matches = pd.read_csv('Match.csv')

In [30]:
mask = matches['country_id'] == 1729 # only PL
x = matches[mask] #3040 rows

(25979, 116)

(3040, 116)

In [33]:
x = x[['index', 'season', 'stage',
       'date', 'match_api_id', 'home_team_api_id', 'away_team_api_id',
       'home_team_goal', 'away_team_goal', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9',
       'home_player_10', 'home_player_11', 'away_player_1',
       'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5',
       'away_player_6', 'away_player_7', 'away_player_8', 'away_player_9',
       'away_player_10', 'away_player_11', 'goal', 'shoton', 'shotoff',
       'foulcommit', 'card', 'cross', 'corner', 'possession', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH',
       'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH',
       'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH',
       'BSD', 'BSA']]

In [34]:
x.head()

,index,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_1,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
1728,1728,2008/2009,1,2008-08-17 00:00:00,489042,10260,10261,1,1,30726.0,...,10.00,1.28,5.5,12.00,1.30,4.75,10.0,1.29,4.50,11.00
1729,1729,2008/2009,1,2008-08-16 00:00:00,489043,9825,8659,1,0,23686.0,...,12.00,1.25,6.0,13.00,1.22,5.50,13.0,1.22,5.00,13.00
1730,1730,2008/2009,1,2008-08-16 00:00:00,489044,8472,8650,0,1,32562.0,...,1.73,5.50,3.8,1.65,5.00,3.40,1.7,4.50,3.40,1.73
1731,1731,2008/2009,1,2008-08-16 00:00:00,489045,8654,8528,2,1,36374.0,...,3.75,1.90,3.5,4.35,1.91,3.25,4.0,1.91,3.25,3.80
1732,1732,2008/2009,1,2008-08-17 00:00:00,489046,10252,8456,4,2,30380.0,...,3.75,1.90,3.5,4.35,1.91,3.25,4.0,1.91,3.30,3.75

In [35]:
df = pd.read_csv('Team.csv')
pl_teams = np.unique(x[['home_team_api_id', 'away_team_api_id']].values)
mask = df['team_api_id'].isin(pl_teams)
teams = df[mask]

In [46]:
x.to_csv('Match_PL.csv', index_label='index')

PermissionError: [Errno 13] Permission denied: 'Match_PL.csv'

In [47]:
teams.to_csv('Team_PL.csv', index_label = 'index')

In [90]:
df = pd.read_csv('Team_Attributes.csv')
pl_teams_attr = teams['team_api_id']
mask = df['team_api_id'].isin(pl_teams_attr)
teams_attr = df[mask]

In [91]:
teams_attr.to_csv('Team_Attributes_PL.csv', index_label = 'index')

In [48]:
df = pd.read_csv('Player.csv')

In [51]:
player_list = []
for i in range(1, 12):
    player_list.append('home_player_' + str(i))
    player_list.append('away_player_' + str(i))

['home_player_1',
 'away_player_1',
 'home_player_2',
 'away_player_2',
 'home_player_3',
 'away_player_3',
 'home_player_4',
 'away_player_4',
 'home_player_5',
 'away_player_5',
 'home_player_6',
 'away_player_6',
 'home_player_7',
 'away_player_7',
 'home_player_8',
 'away_player_8',
 'home_player_9',
 'away_player_9',
 'home_player_10',
 'away_player_10',
 'home_player_11',
 'away_player_11']

In [56]:
pl_players = np.unique(x[player_list].values)
mask = df['player_api_id'].isin(pl_players)
players = df[mask]

In [57]:
players.to_csv('Player_PL.csv', index_label = 'index')

In [83]:
df = pd.read_csv('Player_Attributes.csv')

In [85]:
mask = df['player_api_id'].isin(pl_players)
player_attributes = df[mask]
player_attributes = player_attributes.reset_index(drop = True)

,index,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,5,6,189615,155782,21/04/2016 00:00,74.0,76.0,left,high,medium,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,6,7,189615,155782,07/04/2016 00:00,74.0,76.0,left,high,medium,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
2,7,8,189615,155782,07/01/2016 00:00,73.0,75.0,left,high,medium,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
3,8,9,189615,155782,24/12/2015 00:00,73.0,75.0,left,high,medium,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
4,9,10,189615,155782,17/12/2015 00:00,73.0,75.0,left,high,medium,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32728,183963,183964,47058,35506,30/08/2009 00:00,70.0,78.0,right,NaN,_0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
32729,183964,183965,47058,35506,22/02/2009 00:00,70.0,78.0,right,NaN,_0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
32730,183965,183966,47058,35506,30/08/2008 00:00,72.0,78.0,right,NaN,_0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
32731,183966,183967,47058,35506,30/08/2007 00:00,75.0,78.0,right,NaN,_0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
32732,183967,183968,47058,35506,22/02/2007 00:00,78.0,79.0,right,NaN,_0,...,63.0,72.0,79.0,84.0,65.0,14.0,9.0,48.0,7.0,11.0

In [86]:
u, indices = np.unique(player_attributes['player_api_id'].values, return_index = True) # we are trying to take the most recent rating
indices.sort()
mask_unique = player_attributes.index.isin(indices)
pa = player_attributes[mask_unique]

[    0    33    58 ... 32688 32699 32725]

,index,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,5,6,189615,155782,21/04/2016 00:00,74.0,76.0,left,high,medium,...,66.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
33,87,88,17725,23780,24/12/2015 00:00,70.0,70.0,right,medium,medium,...,41.0,45.0,75.0,73.0,71.0,8.0,6.0,16.0,12.0,11.0
58,146,147,152747,30895,16/10/2015 00:00,77.0,77.0,right,high,medium,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
84,198,199,47189,23889,22/02/2012 00:00,68.0,68.0,right,medium,high,...,53.0,34.0,67.0,73.0,72.0,7.0,5.0,13.0,13.0,13.0
92,269,270,186561,75489,10/03/2016 00:00,82.0,85.0,right,high,high,...,81.0,75.0,62.0,74.0,68.0,6.0,11.0,5.0,10.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32652,183168,183169,208944,40128,14/04/2016 00:00,65.0,65.0,left,None,5,...,32.0,34.0,66.0,69.0,68.0,12.0,11.0,12.0,11.0,15.0
32668,183213,183214,184489,119351,10/03/2016 00:00,63.0,64.0,right,high,medium,...,52.0,49.0,15.0,29.0,20.0,9.0,10.0,16.0,6.0,8.0
32688,183250,183251,40988,30861,31/08/2012 00:00,70.0,70.0,right,medium,high,...,48.0,52.0,78.0,78.0,75.0,13.0,7.0,12.0,11.0,9.0
32699,183796,183797,137089,24737,09/10/2015 00:00,74.0,74.0,right,medium,high,...,75.0,74.0,36.0,49.0,69.0,14.0,12.0,12.0,7.0,9.0
32725,183960,183961,47058,35506,22/02/2011 00:00,67.0,78.0,right,NaN,_0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0

In [87]:
player_attributes.to_csv('Player_Attributes_PL.csv', index_label = 'index')